body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 10%;
	overflow: hidden;
}

.margin{
    margin: 10%;
}

.close {
	display: none;
}

.modal-content {
    text-align: justify;
}

.r {
    color:red ;
}

.modal-footer {
    text-align:center; 
    margin:auto;
}