<hmtl>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- personal css -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/aboutus.css') }}"> 
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/hover.css') }}"> 
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <header>
        <nav class="shift navbar-inner navbar navbar-expand-md">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav_item-color nav-link navbar-brand mx-auto" href="/">BUS.LOGO</a>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">BUS PARTNERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        <div class="body">
            <div class="media">
                <img class="align-self-center mr-3" style="width: 25%; height: 50%" src="/frontend/static/assets/busImage.png" alt="Generic placeholder image">
                <div class="media-body">
                  <h1 class="mt-0">About Us</h1><br>
                    <div class="para-1">
                        <p class="h5">Bus.Logo was established on the year 2020 when the COVID-19 pandemic was at peak. As the "New Normal" comes in town, public transporation is slowly coming back. Health of is great importance and social distancing is the new trend in "New Normal". People now favors online transactions as the new means to support their purchases and other services. The company strives to keep the bus transportation services alive and easily accesible to the people amidst the pandemic.</p><br>
                        <p class="h5"><em>With great power comes with great responsibility.</em></p>
                        <footer class="blockquote-footer">Uncle Ben from <cite title="Source Title">Spiderman</cite></footer><br>
                        <p class="h5">The company was built on the foundation of great people with great minds. As a company with great power, we seek to help our dear citizens when making quick reservations for bus tickets under our bus partner companies. We want to ease the process of reservation through a convenient and accesible website for the people.</p><br>
                        <p class="h5">We will always be happy to serve you!</p>
                    </div>
                </div>
              </div>
        </div>
    </body>
</hmtl>