<html>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- personal css -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/aboutus.css') }}"> 
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/hover.css') }}"> 
	<!-- bootstrap js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<header>
        <nav class="shift navbar-inner navbar navbar-expand-md">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav_item-color nav-link navbar-brand mx-auto" href="#">BUS.LOGO</a>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/buspartners">BUS PARTNERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

	<body>
		<div>
			<h1 style="color: white; padding-top: 7%; font-weight: 600;"><center>About Us</center></h1>
			<div class="body">
				<h4 class="content-attrib">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Tellus in metus vulputate eu. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Facilisi etiam dignissim diam quis enim. Nibh cras 
					pulvinar mattis nunc sed blandit. Consectetur purus ut faucibus pulvinar elementum. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar. 
					Auctor elit sed vulputate mi. Mus mauris vitae ultricies leo integer. Amet porttitor eget dolor morbi non arcu risus. Lacinia quis vel eros donec 
					ac odio tempor orci dapibus. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Eu augue ut lectus arcu bibendum at varius 
					vel pharetra. Id faucibus nisl tincidunt eget nullam. Arcu bibendum at varius vel. Varius duis at consectetur lorem donec massa sapien faucibus et. 
					Tempor orci dapibus ultrices in. Malesuada proin libero nunc consequat interdum varius sit amet. Viverra tellus in hac habitasse platea dictumst 
					vestibulum rhoncus. Cras pulvinar mattis nunc sed blandit.</h4><br>
			</div>
		</div>
	</body>
</html>
