<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- personal css -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/book.css') }}"> 
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <header>
        <nav class="shift navbar-inner navbar navbar-expand-md">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav_item-color nav-link navbar-brand mx-auto" href="#">BUS.LOGO</a>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/buspartners">BUS PARTNERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
       
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: justify">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">BUS DETAILS</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div id="modal-container" class="modal-body">
                    <h5 style="font-weight: bold;">company</h5>
                    <p>Route: From origin To destination</p>
                    <p>Number of Seats Available: 20 Seats</p>
                    <p style="font-weight: bold;">Total Price: total_fee</p>
                    <p style="font-style: italic;">**Ticket Price: ticket_fee<br>**Service Fee: Php 50.00</p>
                    <p style="color:red">* Cancellation Policy</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p style="color:red">* Reminders</p>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('book') }}" method="POST">
                        <input type="checkbox" id="choice" name="agree" value="yes">
                        <label for="choice">I AGREE TO THE TERMS AND CONDITIONS</label><br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <body>
        <div class="body">
            <div class="profile-card card-attrib">
                <div class="card-body dropdown-position">
                    <h1 class="card-title card-title-attrib"><center>RESERVE SEAT</center></h1>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle button-attrib" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Origin</button>
                            <div class="dropdown-menu button-attrib">
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle button-attrib" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Destination</button>
                            <div class="dropdown-menu button-attrib">
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle button-attrib" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departing Date</button>
                            <div class="dropdown-menu button-attrib">
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle button-attrib" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Number of Tickets</button>
                            <div class="dropdown-menu button-attrib">
                            </div>
                        </div>
                </div>
            </div>
            {% for s in schedules %}
                <div class="card" style="margin-bottom: 50px">
                    <h3 class="card-header">{{s.company}}</h3>
                    <div class="card-body">
                        <h5 class="card-title">From {{s.origin}} To {{s.destination}}</h5>
                        <h5 class="card-text">Number of Seats Available: 20 Seats</h5>
                        <h5 class="card-text price">{{s.ticket_fee}}</h5>
                        <button id="myBtn{{s.id}}" class="btn btn-danger" onclick="buttonFunction{{s.id}}()">SELECT</button>
                    </div>
                </div>
            <script>
                var modal = document.getElementById("exampleModal");
                var btn = document.getElementById("myBtn{{s.id}}");
                var span = document.getElementsByClassName("close")[0];

                function buttonFunction{{s.id}}() {
                    var url = "http://localhost:5000/book/{{s.id}}";
                    console.log("{{s.id}}")
                    console.log(url)
                    window.location.href = url;

                }

                span.onclick = function() {
                modal.style.display = "none";
                }

                window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                }
            </script>
            {% endfor %}
        </div>

    </body>
</html>