<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- personal css -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/home.css') }}"> 
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('frontend', filename='/styles/hover.css') }}"> 
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <header>
        <nav class="shift navbar-inner navbar navbar-expand-md">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav_item-color nav-link navbar-brand mx-auto" href="#">BUS.LOGO</a>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">BUS PARTNERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav_item-color nav-link" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <body>
        <div class="body">
            <div class="profile-card">
                <div class="card-body">
                <h1 class="card-title">Juan Dela Cruz</h1>
                <p class="card-text"> juandelacruz@gmail.com</p>
                <p class="card-text card-text-margin">7114 Kundiman Street, Sampaloc, 1008 Manila, Philippines</p>
                <a href="book.html" class="btn btn-primary book-button hvr-sink">BOOK A RIDE</a>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">TIME</th>
                    <th scope="col">BUS COMPANY</th>
                    <th scope="col">TICKET NUMBER</th>
                    <th scope="col">STATUS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">01/01/20</th>
                    <td>6:00 PM</td>
                    <td>Santrans</td>
                    <td>#20200000001</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th scope="row">02/01/20</th>
                    <td>8:30 AM</td>
                    <td>Megabus</td>
                    <td>#20200000002</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">03/01/20</th>
                    <td>12:15 PM</td>
                    <td>AMV Bus</td>
                    <td>#20200000003</td>
                    <td>Approved</td>
                </tr>
                    <th scope="row">01/01/20</th>
                    <td>6:00 PM</td>
                    <td>Santrans</td>
                    <td>#20200000001</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th scope="row">02/01/20</th>
                    <td>8:30 AM</td>
                    <td>Megabus</td>
                    <td>#20200000002</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">03/01/20</th>
                    <td>12:15 PM</td>
                    <td>AMV Bus</td>
                    <td>#20200000003</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th scope="row">01/01/20</th>
                    <td>6:00 PM</td>
                    <td>Santrans</td>
                    <td>#20200000001</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th scope="row">02/01/20</th>
                    <td>8:30 AM</td>
                    <td>Megabus</td>
                    <td>#20200000002</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">03/01/20</th>
                    <td>12:15 PM</td>
                    <td>AMV Bus</td>
                    <td>#20200000003</td>
                    <td>Approved</td>
                </tr>
                    <th scope="row">01/01/20</th>
                    <td>6:00 PM</td>
                    <td>Santrans</td>
                    <td>#20200000001</td>
                    <td>Approved</td>
                </tr>
                <tr>
                    <th scope="row">02/01/20</th>
                    <td>8:30 AM</td>
                    <td>Megabus</td>
                    <td>#20200000002</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">03/01/20</th>
                    <td>12:15 PM</td>
                    <td>AMV Bus</td>
                    <td>#20200000003</td>
                    <td>Approved</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>