<!DOCTYPE html>
<html lang="en">
<div class="modal-content" style="text-align: justify">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">BUS DETAILS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 style="font-weight: bold;">{{S.company}}</h5>
        <p>Route: From {{S.origin}} To {{S.destination}}</p>
        <p>Number of Seats Available: 20 Seats</p>
        <p style="font-weight: bold;">Total Price: total_fee</p>
        <p style="font-style: italic;">**Ticket Price: ticket_fee<br>**Service Fee: Php 50.00</p>
        <p style="color:red">* Cancellation Policy</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p style="color:red">* Reminders</p>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </div>
    <div class="modal-footer">
        <form action="{{ url_for('book') }}" method="POST">
            <input type="checkbox" id="choice" name="agree" value="yes">
            <label for="choice">I AGREE TO THE TERMS AND CONDITIONS</label><br>
            <button type="button" class="btn btn-secondary" onclick="backFunction()">Close</button>
            <button type="button" class="btn btn-danger" onclick="confirmFunction()">Confirm</button>
        </form>
    </div>
    <script>
        function confirmFunction() {
                    var checkBox = document.getElementById("choice");
                    if (checkBox.checked == true){
                            var url = "http://localhost:5000/payment/{{S.id}}";
                            console.log("{{S.id}}")
                            console.log(url)
                            window.location.href = url;
                       }
                }
        function backFunction() {
                    var url = "http://localhost:5000/book/";
                    window.location.href = url;
                }
    </script>
</html>